<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/relatorio.css" />
    <title>Computador de bordo</title>
  </head>

  <body>
    <div class="centro">
      <div class="conteudo">
        <div class="row cabecalho">
          <div class="col-1 link">
            <img class="imgNav" src="../imgs/engrenagem.png" alt="" />
          </div>
            <div class="col-1 link ms-4">
              <a href="index.html">
                <img class="imgNav" src="../imgs/inicial.png" alt="" />
              </a>
            </div>
          <div class="col-1 link ms-1">
            <img class="imgNav" src="../imgs/spotify.png" alt="" />
          </div>
          <div class="col-1 link ms-1">
            <img class="imgNav" src="../imgs/ligar.png" alt="" />
          </div>
          <div class="col-1 link ms-1">
            <img class="imgNav" src="../imgs/radio.png" alt="" />
          </div>
          <div class="col-1 link ms-1">
            <img class="imgNav" src="../imgs/waze.png" alt="" />
          </div>
          <div class="col-3 d-flex justify-content-end okG">
            <p class="p-2">Ok Google</p>
            <img class="imgNav" src="../imgs/voz-do-google.png" alt="" />
          </div>
        </div>

        <div class="main row">
          <div class="col-7 dados">
            <h5>Portão</h5>
            <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Hora</th>
                  <th scope="col">Dia</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">8:30</th>
                  <td>21/05/22</td>
                  <td>Aberto</td>
                </tr>
                <tr>
                  <th scope="row">8:32</th>
                  <td>21/05/22</td>
                  <td>Fechado</td>
                </tr>
               
              </tbody>
            </table>
            <h5>Movimentação na frente de casa</h5>
            <div class="legenda">
              <div class="qAmarelo">
                <img class="q" src="../imgs/quadrado-amarelo.png" alt="">
                <p class="p-2">Manhã</p>
              </div>
              <div class="qAzul">
                <img class="q" src="../imgs/quadrado-azul.png" alt="">
                <p class="p-2">Tarde</p>
              </div>
              <div class="qVerde">
                <img class="q" src="../imgs/quadrado-verde.png" alt="">
                <p class="p-2">Noite</p>
              </div>
            </div>
          
          </div>
          <div class="col grafico">
            <img src="../imgs/grafico.png" alt="">
          </div>
        </div>

        <div class="sound row">
          <div class="play col col-1 d-flex justify-content-end">
            <img src="../imgs/play.png" alt="">
          </div>
          <div class="pause col col-1 d-flex justify-content-start">
            <img src="../imgs/pause.png" alt="">
          </div>
          <div class="barra col">
            <div class="circulo"></div>
          </div>
          <div class="back col col-1 d-flex justify-content-end">
            <img src="../imgs/back.png" alt="">
          </div>
          <div class="next col col-1 d-flex justify-content-start">
            <img src="../imgs/next.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
